/* Estilos generales */
body {
  font-family: Trebuchet, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #4287f5;
  padding: 20px;
  text-align: center;
  color: #fff;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 10px;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
  nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  nav ul li {
    flex: 1 0 50%;
    max-width: 50%;
    text-align: center;
  }
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #555;
}

section {
  padding: 50px 20px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  text-align: center;
}

footer {
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
  color: #888;
}

/* Estilos específicos */
h1 {
  color: #fff;
  font-size: 36px;
  font-style: italic;
  margin: 0;
}

h2 {
  color: #333;
  font-size: 24px;
  margin: 0 0 20px;
}

p {
  color: #666;
  line-height: 1.6;
  margin-bottom: 10px;
}

/* Estilos adicionales */
.header-content {
  max-width: 600px;
  margin: 0 auto;
}

.header-description {
  font-size: 18px;
  color: #eee;
  margin-top: 10px;
}

nav ul li:first-child a {
  font-weight: bold;
}

/* Estilos de los botones de navegación */
nav ul li a {
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #4287f5;
  color: #fff;
  transition: background-color 0.3s ease;
  display: inline-block;
  margin: 5px;
}

nav ul li a:hover {
  background-color: #5b9af9;
}

/* Estilos de la sección de Biografía */
#biografia {
  background-color: #f7f7f7;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

#biografia ul {
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  list-style: none;
}

#biografia ul li {
  margin-bottom: 5px;
}

/* Estilos de la sección de Contacto */
#contacto {
  text-align: center;
  margin-bottom: 20px;
}

#contacto p {
  margin-bottom: 10px;
}

#contacto a {
  color: #333;
  font-weight: bold;
}

#contacto a:hover {
  color: #555;
}

#contacto .contact-buttons {
  margin-top: 20px;
}

#contacto .contact-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

#contacto .contact-button:hover {
  background-color: #555;
}

/* Estilos de imágenes */
#consulta-general img,
#consulta-especial img,
#cirugia img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* Estilos para adaptar la página a diferentes dispositivos */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 10px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
    line-height: 1.8;
  }
}
